/* parking */
#parking {
  position: relative;

  height: 100vh;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/зфклштп.jpg);
  background-size: 100% 100%;
}
#colorParking {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.infoParking {
  position: relative;

  display: flex;
  align-items: center;
}
.infoParking img {
  position: relative;
  z-index: 2;
  margin-top: 25px;
  margin-left: 25px;
  width: 35%;
}
#colorBlockLeft {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 35%;
  height: 95%;
  background-color: #bfb8b2;
}

.infoParking p {
  margin-left: 50px;
  font-size: 16px;
}
