/* rent */
#rent {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  min-height: 890px;
  padding: 20px;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blockButton button {
  min-width: 120px;
  width: 15vw;
  max-width: 180px;
  height: 50px;
}

.mainBlockRent {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blockRent {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.blockRent i {
  position: absolute;
  top: 50%;
  cursor: pointer;
  height: 46px;
  width: 46px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 40px;
  color: var(--button-color);
  background: none;
  border: 3px solid var(--button-color);
  border-radius: 50%;
  transform: translateY(-50%);
}
.blockRent i:first-child {
  border-color: grey;
  color: grey;
  left: 25px;
}
.blockRent i:last-child {
  right: 25px;
}

.infoRent {
  position: relative;
  /* width: 70%; */
  width: calc(100vw * 0.7);
  height: 500px;
  margin: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
  border-radius: 15px;
}
.infoRent.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.infoRent.dragging .yacht {
  pointer-events: none;
}

.yacht {
  position: relative;
  z-index: 1;
  cursor: pointer;
  min-width: calc((100% / 3) - 20px);
  height: 100%;
  padding: 20px;
  margin-right: 20px;
  background: var(--rentBlock-color);
  /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
  user-select: none;
  /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
  touch-action: pan-y;
  border-radius: 15px;
}
.yacht:last-child {
  margin-right: 0;
}
.yacht img {
  width: 100%;
  height: 50%;
  /* Чтобы изображения не перетаскивались мышью */
  pointer-events: none;
  border-radius: 5%;
}

.yacht h3 {
  margin-top: 10px;
  text-align: center;
  color: var(--text-color);
  font-size: 20px;
}
.yacht p {
  margin-top: 10px;
  color: var(--text-color);
  font-size: 16px;
  font-style: italic;
}
.blockButton {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}
.headerBlockRent {
  width: 400px;
}
.buttonForm {
  width: 150px;
}

@media screen and (max-height: 850px) {
  #rent {
    height: 890px;
  }
}
@media screen and (max-width: 1100px) {
  .headerBlockRent {
    width: 300px;
  }
  .mainBlockRent {
    margin-top: 0;
  }
  .blockButton {
    margin-top: 0;
  }
  .blockButton button {
    width: 150px;
    height: 50px;
  }

  .yacht {
    min-width: calc((100% / 2) - 20px);
  }
}
@media screen and (max-width: 900px) {
  #rent {
    height: 750px;
  }
  .mainBlockRent {
    margin-top: 0;
  }
  .blockButton {
    margin-top: 0;
  }
  .infoRent {
    height: 500px;
  }
  .yacht {
    min-width: calc((100% / 2) - 20px);
  }
}
@media screen and (max-width: 650px) {
  #rent {
    min-height: 550px;
    height: 600px;
  }
  .infoRent {
    height: 400px;
    width: 350px;
    margin: 20px;
  }
  .yacht {
    min-width: calc(100% - 20px);
  }
  .headerBlockRent {
    width: 225px;
    margin-bottom: 20px;
  }
  .yacht p {
    font-size: 1.4rem;
  }
  .blockRent i {
    width: 30px;
    height: 30px;
    line-height: 26px;
  }
  .blockRent i:first-child {
    left: 5px;
  }
  .blockRent i:last-child {
    right: 5px;
  }
  .blockButton button {
    width: 80px;
    height: 30px;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .infoRent {
    height: 400px;
    width: 250px;
    margin: 20px;
  }
}
