@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

:root {
  --headerText-color: #fff;
  --rentBackground-color: #fff;
  --mobalMenuBackground-color: #4c5253;
  /* --background-color: linear-gradient(180deg, #4c5253 0%, #66c1d8 100%); */
  --background-color: linear-gradient(180deg, #5c6b6e 0%, #63d8f5 100%);
  --backgroundModal-color: #101218;
  --rentBlock-color: linear-gradient(
    180deg,
    rgba(0, 184, 204, 0.07) 0%,
    rgba(151, 249, 255, 0.15) 100%
  );
  --textHover-color: #63d8f5;
  --textBlack-color: #000;
  --textWhite-color: #fff;
  --textModal-color: #fff;
  --acua-color: #63d8f5;
  --textH2-color: #63d8f5;
  --button-color: #63d8f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
html {
  font-family: "Merriweather", serif;
  font-size: 10px;
  font-weight: 400;
  color: var(--text-color);
  width: 100vw;
}

/*Скрыл все полосы прокрутки*/
::-webkit-scrollbar {
  display: none;
}

.backgroungColorPage {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 400vh;
  background: var(--background-color);
}

button,
button:hover,
button:active {
  cursor: pointer;
}

button {
  height: 5vh;
  border-radius: 2vh;
  margin-left: 30px;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--button-color);
  background: none;
  border: 3px solid var(--button-color);
}
button:first-child {
  margin-left: 0;
}
/* MAIN */
/* sectionStart */
#main {
  position: relative;
  z-index: 5;
}
#sectionStart {
  width: 100vw;
  height: 100vh;
  padding-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--headerText-color);
}
.imgBackground {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.imgBackground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.sectionStart-h1 {
  position: relative;
  z-index: 5;
  width: 75%;
}
.sectionStart-h1 h1 {
  text-align: left;
  color: #fff;
  font-size: 5rem;
  font-style: italic;
  letter-spacing: 0.5rem;
  text-shadow: 5px 5px #4d6d78;
}

/* sectionServices */

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  text-align: center;
  font-size: 6rem;
  font-style: italic;
  color: var(--textH2-color);
}
.headerBlock {
  position: relative;
  z-index: 5;
  width: 50vw;
  margin: 20px auto 40px;
}

.headerBlock div {
  width: 100%;
  height: 5px;
  margin-top: 5px;
  background-color: var(--button-color);
}

@media screen and (max-width: 1100px) {
  .backgroungColorPage {
    height: calc(4 * 850px);
  }
  #sectionStart {
    height: 850px;
  }
  #sectionStart .imgBackground {
    height: 850px;
  }
  .sectionStart-h1 {
    margin-bottom: 200px;
  }
  h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 650px) {
  .sectionStart-h1 h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
  }
}
